<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.catalyze.android.example"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Required for the image picker in FileManagementActivity -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="io.catalyze.android.example.LoginActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="catalyzeexample" />
            </intent-filter>
        </activity>
        <activity
            android:name="io.catalyze.android.example.MainActivity"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:name="io.catalyze.android.example.UmlsActivity"
            android:label="Catalyze UMLS Service" >
        </activity>
        
        <activity
            android:name="io.catalyze.android.example.CustomClassActivity"
            android:label="Catalyze Custom Classes" >
        </activity>
        
        <activity
            android:name="io.catalyze.android.example.CustomClassEditActivity"
            android:label="Custom Class Editor" >
        </activity>
        
        <activity
            android:name="io.catalyze.android.example.UserInfoActivity"
            android:label="User Details" >
        </activity>

        <activity
            android:name="io.catalyze.android.example.FileManagementActivity"
            android:label="File Management">
        </activity>

        <meta-data
            android:name="io.catalyze.android.sdk.v2.API_KEY"
            android:value=""/>

        <meta-data
            android:name="io.catalyze.android.sdk.v2.APP_ID"
            android:value=""/>
    </application>

</manifest>